#top-header {
	margin-bottom: 140px;

}

#top-nav ul{
	list-style-type: none;
	float: right;
	margin-top: 40px;
}

#top-nav li{
	display: inline-block;

}

#li-home{
	margin-right: 25px;
}

#li-about{
	margin-right: 25px;
}

#title {
	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
}

#top-nav {
	margin-right: 30px;
	font-family: "futura-pt", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;

}

#canvas {
	max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

#picture-table{
	box-sizing: border-box;
	display: block;
	display: table;
	content: " ";
	clear: both;

	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 12px;
	padding-bottom: 48px;

}

#column1{
	margin-left: 0;
	width: 30.5%;
	margin: 0 12px 0 0;
	float: left;
	box-sizing: border-box;
	display: block;

}

#column2{
	width: 30.5%;
	margin: 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}

#column3{
	margin-right: 0;
	width: 30.5%;
	margin: 0 0 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}

#footer {

	font-family: "futura-pt", sans-serif;
	font-style: normal;
	font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #575757;
    clear: both;
    background-color: weight;
    height: 60px;
    padding-right: 35px;
}

#footer p {

	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

#footer a {

	padding-top: 20px;
	padding-right: 30px;
	float: right;
}
a {
	color: #575757;
	text-decoration: none;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family:"futura-pt",sans-serif;
    font-weight:500;
    font-size:25px;
    text-transform:uppercase;
    z-index: -1;
}


.image {
	margin-bottom: 24px;
	position: relative;
	box-sizing: border-box;
	display: block;
	z-index: 0;
}

img{
	width: 100%;
}

#about-h1{
	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;

}

#about-p{
	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-top:15px;

}

#about-img{
	height: 500px;
	width: auto;
	display: block;
    margin: auto;
	clear: both;
	padding: 20px 0 20px 0;

}
